<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ShapeUp.boot.domain.admin.user.model.mapper.AdminUserMapper">

  <select id="selectAllUsers" resultType="com.ShapeUp.boot.domain.admin.user.model.vo.AdminUserVO">
    SELECT
      USER_NO,
      USER_ID,
      USER_PW,
      USER_NAME,
      USER_AGE,
      USER_EMAIL,
      USER_PHONE,
      USER_SERIAL_NO,
      USER_TYPE,
      CREATED_AT,
      UPDATED_AT,
      USER_NICKNAME,
      STATUS
    FROM USER_TBL
    ORDER BY USER_NO DESC
  </select>

  <select id="selectUserByNo" parameterType="int" resultType="com.ShapeUp.boot.domain.admin.user.model.vo.AdminUserVO">
    SELECT
      USER_NO,
      USER_ID,
      USER_PW,
      USER_NAME,
      USER_AGE,
      USER_EMAIL,
      USER_PHONE,
      USER_SERIAL_NO,
      USER_TYPE,
      CREATED_AT,
      UPDATED_AT,
      USER_NICKNAME,
      STATUS
    FROM USER_TBL
    WHERE USER_NO = #{userNo}
  </select>

  <update id="updateUserStatus">
    UPDATE USER_TBL
    SET STATUS = #{status},
        UPDATED_AT =
        <choose>
          <when test="banDays != null">
            SYSTIMESTAMP + NUMTODSINTERVAL(#{banDays}, 'DAY')
          </when>
          <otherwise>
            COALESCE(#{updatedAt,jdbcType=TIMESTAMP}, SYSTIMESTAMP)
          </otherwise>
        </choose>
    WHERE USER_NO = #{userNo}
  </update>

  <update id="updateUserPassword">
    UPDATE USER_TBL
    SET USER_PW = #{userPw}
    WHERE USER_NO = #{userNo}
  </update>

  <update id="updateUserType">
    UPDATE USER_TBL
    SET USER_TYPE = #{userType}
    WHERE USER_NO = #{userNo}
  </update>

  <update id="updateUserProfile">
    UPDATE USER_TBL
    SET USER_ID = #{userId},
        USER_NAME = #{userName},
        USER_NICKNAME = #{userNickname},
        USER_EMAIL = #{userEmail},
        USER_PHONE = #{userPhone},
        USER_SERIAL_NO = #{userSerialNo},
        USER_AGE = #{userAge}
    WHERE USER_NO = #{userNo}
  </update>

</mapper>
