@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width:100%;
    margin: 0 auto;
    display: flex;
    padding: 0px 10vw;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
}

@media screen and (max-width:768px) {
	.container {
	    width:100%;
	    margin: 0 auto;
	    padding: 0px;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    overflow-y: auto;
	    scroll-behavior: smooth;
	}
}