@charset "UTF-8";
:root {
    --main-color : #0A84FF;
    --txt-color : #111;
    --border-color : #ddd;
    --box-shadow : rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.board-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 30px;
}

.board-wrapper-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.board-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.board-left-top {
    width: 100%;
}

.search-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}


.board-left-top .search {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
    position: relative;
}

/* 필터 버튼 */
.filter-btn-wrapper {
    background: #fff;
    padding: 6px 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: 0.25s ease;
}
 
.filter-btn-wrapper .material-symbols-outlined {
    font-size: 1rem;
    margin-top: 3px;
    color: #111;
}

.filter-btn-wrapper:hover {
    background: #e7e7e7;
}

/* 필터 아이콘 회전 효과 */
.filter-btn-wrapper.active .material-symbols-outlined {
    transform: rotate(180deg);
    transition: 0.25s ease;
}

/* 필터 리스트 */
.filter-btn-list {
    position: absolute;
    top: 55px;
    left: 0px;
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    display: none;
    flex-direction: column;
    gap: 8px;
    width: 120px;
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow);
    animation: fadeDown 0.25s ease;
    z-index: 999;
}

.filter-btn-list.active {
    display: flex;
}

/* 필터 리스트 안 버튼 */
.filter-btn {
    padding: 8px 10px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease;
    text-align: left;
}

.filter-btn:hover {
    background: #ececec;
}

/* 드롭다운 애니메이션 */
@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search .material-symbols-outlined {
    position: absolute;
    top: 18px;
    transform: translateY(-50%);
    left: 10px;
    font-size: 1.1rem;
    color: #999;
}

.board-left-top input {
    padding: 6px 10px;
    padding-left: 30px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    outline: none;
}

.board-left-top input:focus {
    border-color: var(--main-color);
}

.board-left-top #communityHref  {
    display: flex;
    padding: 8px 15px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--main-color);
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    gap: 5px;
    font-size: .9rem;
}

#communityHref  i {
	margin-top : 3px;
}

.board-left-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.board-left-content a {
    display: block;
    color: #111;
    text-decoration: none;
}

.board-left-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    user-select: none;
}

.board-left-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.left-card-top {
    width: 100%;
    aspect-ratio: 16 / 9; /* 16 ㄷ 9 비율 */
    position: relative;
    overflow: hidden;
}

#noImg {
    width: 100%;
    height: 100%;
    padding: 3em;
    object-fit: contain;
}

.left-card-top img {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
    object-position: center;
}

.left-card-top #noImg {
    width: 100%;
}

.left-card-top .goal-category {
    display: flex;
    position: absolute;
    z-index: 9;
    top: 10px;
    color: #fff;
    left: 10px;
    font-size: .83rem;
    padding: 5px 6px;
    font-weight: 500;
    background-color : rgba(153, 153, 153, 0.7);
    border-radius: 8px;
}

.left-card-middle {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.left-card-middle-top {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #111;
    align-items: center;
    margin-top: 10px;
}

.left-card-middle-top .user-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.left-card-middle-top .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.left-card-middle-top .user-info-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-card-middle-top .fa-eye,
.left-card-middle-top span {
    font-size: .8rem;
    color: #444;
}

.left-card-middle-top span {
    font-weight: 500;
}

.left-card-middle-top .board-content {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    
    /* 한 줄 말줄임 처리 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-card-middle-top .left-user-nickname {
    font-size: 1rem;
    font-weight: 500;
}

.left-card-middle-top .create-date {
    font-size: .9rem;
    font-family: 500;
    color: #999;
}

.left-card-middle-content {
    display: flex;
    flex-direction: column;
    color: #111;
    gap: 10px;
    padding-bottom: 15px;
}

.left-board-title {
    font-size: 1rem;
    font-weight: 500;

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left-board-content {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    font-weight: 400;
    gap: 8px;
}

.left-board-content .board-content {
    display: -webkit-box;       /* 플렉스 박스처럼 동작 */
    -webkit-line-clamp: 2;      /* 보여줄 최대 줄 수 (2~3줄 추천) */
    -webkit-box-orient: vertical;
    overflow: hidden;           /* 넘치는 내용 숨김 */
    text-overflow: ellipsis;    /* ... 표시 */
    color: #444;
}

.content-top {
    color: var(--main-color);
    font-weight: 500;
}

.content-top .fa-clock {
    margin-right: 5px;
    font-weight: 500;
}

.left-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.left-card-footer .fa-comment, .left-card-footer .fa-thumbs-up {
    margin-right: 8px;
    font-size: 1.2rem;
}

.left-card-footer span {
    font-size: 1rem;
    font-weight: 500;
}

/************************/
/*   오른쪽 영역 (top)  */
/************************/
.board-wrapper-right {
    display: flex;
    flex-direction: column;
    flex: 0 0 350px;
    gap: 30px;
}

.board-right-top-content,
.board-right-bottom-content {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.board-right-top,
.board-right-bottom {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    gap: 10px;
}

.board-right-top p,
.board-right-bottom p {
    font-size: 1rem;
    font-weight: 600;
}

.board-right-top-content a,
.board-right-bottom-content a {
    color: #111;
    text-decoration: none;
}

.board-right-top-card,
.board-right-bottom-card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    border: 1px solid #f2f3f5;
    transition: all 0.15s ease;
    user-select: none;
}

.board-right-top-card:hover,
.board-right-bottom-card:hover {
    background-color: #f2f3f4;;
}
.right-top-top,
.right-bottom-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right-user-right,
.right-user {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.right-user-right img {
    width: 40px;
    margin-right: 5px;
}

.right-category {
    padding: 3px 5px;
    font-size: .75rem;
    background-color: #999;
    color: #fff;
    border-radius: 8px;
    margin-right: 5px;
}

.right-user-nickname {
    font-size: 0.9rem;
    font-weight: 500;
}

.create-date {
    font-size: .8rem;
    color: #444;
}

.right-top-middle,
.right-bottom-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.right-title {
    font-size: 1rem;
    font-weight: 500;
    margin-right: 5px;
}

.top-comment {
    font-size: .85rem;
    font-weight: 500;
    color: var(--main-color);
}

.right-top-footer,
.right-bottom-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.right-top-footer i,
.right-bottom-footer i {
    font-size: .8rem;
    color: #111;
    margin-right: 5px;
}

.right-top-footer span,
.right-bottom-footer span {
    font-weight: 500;
    font-size: .85rem;
    color: #111;
}

/***************/
/*    페이징   */
/***************/
.pagination-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination button {
    background-color: transparent;
}

.page-num {
    padding: 8px 14px;
    cursor: pointer;
    border: none;
    color: #111;
    font-weight: 500;
    font-size: 0.9rem;
}

.page-num.active {
    color: var(--main-color);
    text-decoration: underline;
    font-weight: bold;
}

.pagination .back {
    position: absolute;
    left: 0px; 
}

.pagination .next {
    position: absolute;
    right: 0px; 
}

.pagination .back,
.pagination .next {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: .25s;
    color: #111;
    font-weight: 550;
    font-size: .9rem;
}

.page-num:hover {
    color: var(--main-color);
    font-weight: bold;
}

.pagination .back:hover,
.pagination .next:hover {
    color: var(--main-color);
}