<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ShapeUp.boot.domain.matching.model.mapper.matchingMapper">
 	<!-- 매칭 삽입 -->
 	<insert id="matchingInsert">
 		INSERT INTO MATCHING_TBL VALUES (SEQ_MATCH_NO.NEXTVAL, #{userNo}, #{matchingTitle}, #{matchingContent}, DEFAULT, NULL, DEFAULT,
 		#{matchingLocation}, #{matchingDate}, #{matchingLevel}, #{matchingTime}, #{partnerType}, DEFAULT, #{matchingUserCount}, #{activityId}, #{matchingPrice})
 	</insert>
 	
 	<!-- 매칭 카테고리 리스트 -->
 	<select id="matchingCategory">
 		SELECT ACTIVITY_NAME, ACTIVITY_ID, USE_YN FROM ACTIVITY_TBL WHERE WEIGHT_LEVEL = 1 AND USE_YN = 'Y'
 	</select>
 	
 	<!-- 매칭 카테고리 검색 -->
 	<select id="searchCategory">
 		SELECT ACTIVITY_NAME, ACTIVITY_ID, USE_YN FROM ACTIVITY_TBL WHERE ACTIVITY_NAME LIKE '%'||#{keyword}||'%' AND USE_YN = 'Y'
 	</select>
 	
 	<!-- 매칭 리스트 -->
 	<select id="matchingList">
 	<![CDATA[
	    SELECT
	        M.ACTIVITY_ID,
	        M.MATCHING_NO,
	        M.USER_NO,
	        M.MATCHING_TITLE,
	        M.MATCHING_CONTENT,
	        M.CREATED_AT,
	        M.UPDATED_AT,
	        M.MATCHING_LOCATION,
	        M.MATCHING_DATE,
	        M.MATCHING_LEVEL,
	        M.MATCHING_TIME,
	        M.PARTNER_TYPE,
	        M.MATCHING_TYPE,
	        TO_CHAR(M.MATCHING_PRICE, '999,999,999') AS MATCHING_PRICE,					
	        A.ACTIVITY_NAME,
	        U.USER_NICKNAME,
	        M.MATCHING_USER_COUNT,
	        (SELECT COUNT(*) 
	        FROM MATCHING_APPLI_TBL A
	        WHERE A.MATCHING_NO = M.MATCHING_NO) AS APPLICATION_COUNT,
	
			CASE
			    WHEN TO_DATE(M.MATCHING_DATE, 'YYYY-MM-DD') < TRUNC(SYSDATE) 
			    THEN '마감'
			    
			    
			    WHEN M.MATCHING_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			         AND M.MATCHING_TIME <= TO_CHAR(SYSDATE, 'HH24:MI')
			    THEN '마감'
			    
			    
			    WHEN TO_DATE(M.MATCHING_DATE, 'YYYY-MM-DD') - TRUNC(SYSDATE) BETWEEN 0 AND 2
			    THEN '마감임박'
			         
			    
			    ELSE '모집중'
	        END AS MATCHING_STATUS
	
	    FROM 
	        MATCHING_TBL M
	        JOIN ACTIVITY_TBL A ON M.ACTIVITY_ID = A.ACTIVITY_ID
	        JOIN USER_TBL U ON M.USER_NO = U.USER_NO
	
	    WHERE 
	        A.USE_YN = 'Y'
	        AND M.DELETE_YN = 'N'
	
	    ORDER BY M.CREATED_AT DESC
	        ]]>
	</select>

 	
 	<!-- 매칭 게시판 카운트 -->
 	<select id="getTotalCount">
 		SELECT COUNT(*) FROM MATCHING_TBL ORDER BY CREATED_AT DESC
 	</select>
 	
 	<!-- 매칭 신청 버튼(삽입) -->
 	<insert id="matchinApplication">
 		INSERT INTO MATCHING_APPLI_TBL VALUES (
 			#{matchingAppliNo}, #{userNo}, #{matchingNo}, DEFAULT, DEFAULT
 		)		
 	</insert>
 	
 	<!-- 매칭 작성자 유저 번호 가져오기 -->
 	<select id="getWriterUserNo">
 		SELECT USER_NO FROM MATCHING_TBL WHERE MATCHING_NO = #{matchingNo}
 	</select>
 	
 	<!-- 매칭 중복 선택 방지 -->
 	<select id="getMatchDedupe">
 		SELECT COUNT(*) FROM MATCHING_APPLI_TBL WHERE MATCHING_APPLI_NO = #{loginUserNo} AND MATCHING_NO = #{matchingNo}
 	</select>
 </mapper>