<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ShapeUp.boot.domain.comment.model.mapper.commentMapper">
	<select id="selectCommentList">
        SELECT 
            C.COMMENT_NO, 
            C.COMMENT_CONTENT, 
            C.USER_NO, 
            C.COMMUNITY_NO,
            C.CREATED_AT, 
            C.PARENT_COMMENT_NO, 
            C.COMMENT_DEPTH, 
            C.DELETE_YN,
            U.USER_NICKNAME,
            U.USER_TYPE
        FROM COMMENT_TBL C
        JOIN USER_TBL U ON C.USER_NO = U.USER_NO
        WHERE C.COMMUNITY_NO = #{communityNo}
        
        START WITH C.PARENT_COMMENT_NO = 0
        CONNECT BY PRIOR C.COMMENT_NO = C.PARENT_COMMENT_NO
        ORDER SIBLINGS BY C.CREATED_AT DESC
    </select>
    
    <insert id="insertComment">
        INSERT INTO COMMENT_TBL (
            COMMENT_NO, 
            COMMENT_CONTENT, 
            USER_NO, 
            COMMUNITY_NO, 
            CREATED_AT,
            PARENT_COMMENT_NO, 
            COMMENT_DEPTH, 
            DELETE_YN
        ) VALUES (
            SEQ_COMMENT_NO.NEXTVAL,  #{commentContent}, 
            #{userNo}, 
            #{communityNo}, 
            SYSDATE,
            #{parentCommentNo}, 
            #{commentDepth},
            DEFAULT
        )
    </insert>

    <update id="deleteComment">
        UPDATE COMMENT_TBL
        SET DELETE_YN = 'Y'
        WHERE COMMENT_NO = #{commentNo}
    </update>
 </mapper>