<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ShapeUp.boot.domain.community.model.mapper.communityMapper">
	<!-- 커뮤니티 게시글 삽입 -->
	<insert id="communityInsert">
	    <selectKey keyProperty="communityNo" resultType="int" order="BEFORE">
	        SELECT SEQ_COMMUNITY_NO.NEXTVAL FROM DUAL
	    </selectKey>
	
	    INSERT INTO COMMUNITY_TBL (
	        COMMUNITY_NO, 
	        COMMUNITY_TITLE, 
	        COMMUNITY_CONTENT, 
	        USER_NO,
	        CREATED_AT,
	        UPDATED_AT,
	        VIEW_COUNT,
	        COMMUNITY_TYPE,
	        SUCCESS_TYPE,
	        GOAL_DATE,
	        DELETE_YN
	    ) VALUES (
	        #{communityNo},
	        #{communityTitle}, 
	        #{communityContent}, 
	        #{userNo},
	        DEFAULT,
	        NULL,
	        0,
	        #{communityType},
	        null,
	        null,
	        DEFAULT
	    )
	</insert>
	<!-- 커뮤니티 이미지 삽입 -->
	<insert id="insertCommunityImages" parameterType="java.util.List">
        INSERT INTO COMMUNITY_IMG_TBL (
            IMG_NO,
            IMG_PATH,
            IMG_RENAME,
            IMG_ORIGINAL_NAME,
            IMG_MAIN,
            COMMUNITY_NO
        )
        SELECT SEQ_IMG_NO.NEXTVAL, A.* FROM (
            <foreach collection="list" item="img" separator="UNION ALL">
                SELECT 
                    #{img.imgPath} as IMG_PATH,
                    #{img.imgRename} as IMG_RENAME,
                    #{img.imgOriginalName} as IMG_ORIGINAL_NAME,
                    'N' as IMG_MAIN ,
                    #{img.communityNo} as COMMUNITY_NO
                FROM DUAL
            </foreach>
        ) A
    </insert>
    <!-- 커뮤니티 공지 사항 -->
    <select id="getNoticeList">
    	SELECT * FROM (
    		SELECT * FROM NOTICE_TBL WHERE NOTICE_CATEGORY = '공지' ORDER BY CREATED_AT DESC
    	) WHERE ROWNUM <![CDATA[ <= ]]> 2
    </select>
    
    <!-- 커뮤니티 리스트 -->
    <select id="getCommunityList">
    	SELECT 
		    C.COMMUNITY_NO,
		    C.COMMUNITY_TITLE,
		    C.COMMUNITY_TYPE,
		    C.CREATED_AT,
		    C.VIEW_COUNT,
		    C.UPDATED_AT,
		    C.DELETE_YN,
		    U.USER_NICKNAME AS userNickName,
		    (SELECT COUNT(*) FROM COMMUNITY_BOARD_LIKE BL WHERE BL.COMMUNITY_NO = C.COMMUNITY_NO) AS LIKE_COUNT,
		    (SELECT COUNT(*) FROM COMMENT_TBL CT WHERE CT.COMMUNITY_NO = C.COMMUNITY_NO ) AS COMMENT_COUNT
		FROM COMMUNITY_TBL C
		LEFT JOIN USER_TBL U 
		    ON C.USER_NO = U.USER_NO
		LEFT JOIN COMMUNITY_BOARD_LIKE B 
		    ON C.COMMUNITY_NO = B.COMMUNITY_NO
	    <where>
	    	C.DELETE_YN = 'N' AND
	    	C.COMMUNITY_TYPE != 'success'	   
	    	<if test="category != null and category != ''">
    			AND COMMUNITY_TYPE = #{category}
    		</if>
    		<if test="keyword != null and keyword != ''">
    			AND COMMUNITY_TITLE LIKE '%'||#{keyword}||'%'
    		</if>
	    </where>

		GROUP BY 
		    C.COMMUNITY_NO,
		    C.COMMUNITY_TITLE,
		    C.COMMUNITY_TYPE,
		    C.CREATED_AT,
		    C.DELETE_YN,
		    C.VIEW_COUNT,
		    C.UPDATED_AT,
		    U.USER_NICKNAME
		    
		ORDER BY C.CREATED_AT DESC
    </select>
    
    <!-- 커뮤니티 총 페이지 갯수 -->
    <select id="getTotalCount">
    	SELECT COUNT(*) FROM COMMUNITY_TBL 
    	<where>
    		DELETE_YN = 'N' AND
    		COMMUNITY_TYPE != 'success'
    		<if test="category != null and category != ''">
    			AND COMMUNITY_TYPE = #{category}
    		</if>
    		<if test="keyword != null and keyword != ''">
    			AND COMMUNITY_TITLE LIKE '%'||#{keyword}||'%'
    		</if>
    	</where>
    </select>
    
    <!-- 조회수 -->
    <update id="viewCount">
    	UPDATE COMMUNITY_TBL SET VIEW_COUNT = VIEW_COUNT + 1 WHERE COMMUNITY_NO = #{boardNo}
    </update>
    
    <!-- 커뮤니티 디테일  -->
    <select id="getCommunityDetail">
    	SELECT 
		    C.COMMUNITY_NO,
		    C.COMMUNITY_TITLE,
		    C.COMMUNITY_TYPE,
		    C.COMMUNITY_CONTENT,
		    C.CREATED_AT,
		    C.DELETE_YN,
		    C.VIEW_COUNT,
		    C.UPDATED_AT,
		    C.USER_NO,
		    C.SUCCESS_TYPE,
		    C.GOAL_DATE,
		    U.USER_NICKNAME AS userNickName,
		    (SELECT COUNT(*) FROM COMMUNITY_BOARD_LIKE WHERE COMMUNITY_NO = #{boardNo}) AS LIKE_COUNT
		FROM COMMUNITY_TBL C
		JOIN USER_TBL U 
		    ON C.USER_NO = U.USER_NO
	    WHERE C.COMMUNITY_NO = #{boardNo} AND 
		C.DELETE_YN = 'N'
    </select>
   <!-- 좋아요 체크 -->
	<select id="checkLike">
    SELECT COUNT(*) 
      FROM COMMUNITY_BOARD_LIKE
     WHERE COMMUNITY_NO = #{communityNo}
       AND USER_NO = #{userNo}
	</select>
	<!-- 좋아요 삽입 -->
	<insert id="insertLike">
	    INSERT INTO COMMUNITY_BOARD_LIKE (
	        LIKE_NO,
	        COMMUNITY_NO,
	        USER_NO,
	        LIKE_AT
	    ) VALUES (
	        SEQ_LIKE_NO.NEXTVAL, #{communityNo},
	        #{userNo},
	        DEFAULT
	    )
	</insert>
	<!-- 좋아요 삭제 -->
	<delete id="deleteLike">
	    DELETE FROM COMMUNITY_BOARD_LIKE
	     WHERE COMMUNITY_NO = #{communityNo}
	       AND USER_NO = #{userNo}
	</delete>
	<!-- 좋아요 카운트 -->
	<select id="countLike">
	    SELECT COUNT(*) 
	      FROM COMMUNITY_BOARD_LIKE
	     WHERE COMMUNITY_NO = #{communityNo}
	</select>
	
	<!-- 커뮤니티 삭제 -->
	<update id="communityDelete">
		UPDATE COMMUNITY_TBL SET DELETE_YN = 'Y' WHERE COMMUNITY_NO = #{communityNo}
	</update>
	
	<!-- 커뮤니티 수정 -->
	<select id="communityModify">
		SELECT 
		    C.COMMUNITY_NO,
		    C.COMMUNITY_TITLE,
		    C.COMMUNITY_TYPE,
		    C.COMMUNITY_CONTENT,
		    C.CREATED_AT,
		    C.DELETE_YN,
		    C.VIEW_COUNT,
		    C.UPDATED_AT,
		    C.USER_NO,
		    U.USER_NICKNAME AS userNickName
		FROM COMMUNITY_TBL C
		JOIN USER_TBL U 
		    ON C.USER_NO = U.USER_NO
	    WHERE C.COMMUNITY_NO = #{communityNo} AND 
		C.DELETE_YN = 'N'
	</select>
	
	<!-- 커뮤니티 조회수 리스트 -->
	<select id="getSortViewList">
		SELECT *
		FROM (
		    SELECT 
		        C.COMMUNITY_NO,
		        C.COMMUNITY_TITLE,
		    	C.COMMUNITY_TYPE,
   			    C.DELETE_YN,
		        C.CREATED_AT,
		        C.VIEW_COUNT,
		        U.USER_NICKNAME,
		        (SELECT COUNT(*) FROM COMMENT_TBL CT WHERE CT.COMMUNITY_NO = C.COMMUNITY_NO ) AS commentCount
		    FROM COMMUNITY_TBL C
		    JOIN USER_TBL U ON U.USER_NO = C.USER_NO
		    WHERE C.DELETE_YN = 'N'
		    ORDER BY C.VIEW_COUNT DESC
		)
		WHERE ROWNUM <![CDATA[ <= ]]> 3
	</select>
	
	<!-- 커뮤니티 댓글 순 리스트 -->
	<select id="getSortCommentList">
		SELECT * 
		FROM (
			 SELECT 
		        C.COMMUNITY_NO,
		        C.COMMUNITY_TITLE,
		    	C.COMMUNITY_TYPE,
   			    C.DELETE_YN,
		        C.CREATED_AT,
		        C.VIEW_COUNT,
		        U.USER_NICKNAME,
		        (SELECT COUNT(*) FROM COMMENT_TBL CT WHERE CT.COMMUNITY_NO = C.COMMUNITY_NO ) AS COMMENTCOUNT
		    FROM COMMUNITY_TBL C
		    JOIN USER_TBL U ON U.USER_NO = C.USER_NO
		    WHERE C.DELETE_YN = 'N'
		    ORDER BY COMMENTCOUNT DESC
		)
		WHERE ROWNUM <![CDATA[ <= ]]> 3 
	</select>
 </mapper>