@charset "UTF-8";
/* 광고 */
.ad-wrapper {
    width: 100%;
    height: 400px;
    background-color: #0a2fff;
    border-radius: 12px;
}

/* 식단, 환영 문구 */
/* 식단쪽 아이콘 공통 */
.diet-wrapper .fa-solid {
    width: 50px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.diet-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.diet-content {
    gap: 20px;
    display: flex;
    flex-direction: row;
    position: relative; /* for overlay */
}

/* 로그인 상태가 아닐 때 .diet-content 만 블러 처리하고 클릭을 차단합니다 */
/* .diet-content.locked .user-diet-record {
    filter: blur(6px);
    pointer-events: none;
    user-select: none;
    transform: scale(1.0);
} */

/* .diet-lock-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.6);
    border-radius: 12px;
    z-index: 40;
    backdrop-filter: blur(4px);
    flex-direction: column;
    gap: 10px;
}

.diet-content.locked .material-symbols-outlined {
    font-size: 2.5rem;
}

.diet-content.locked p {
    font-weight: 600;
}

.btn-login {
    background-color: #0A84FF;
    color: #fff;
    border: none;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
}

.btn-login:hover {
    background-color: #007bff;
    transform: scale(1.02);
} */
/* 로그인 상태가 아닐 때 .diet-content 만 블러 처리하고 클릭을 차단합니다 */

.diet-wrapper-title span{
    font-weight: 500;
    color: #111;
}

.diet-wrapper .user-diet-record {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: box-shadow 0.15s ease;
    border: 1px solid #ddd;
}

.user-diet-record a {
    text-decoration: none;
    color: #111;
}

.user-diet-record:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 54px;
}

.user-diet-record .title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title .title-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-info p {
    font-weight: 500;
    font-size: .9rem;
    color: #666;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.info .cal {
    font-weight: 500;
    font-size: .9rem;
    color: #666;
}

.progress {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.progress-out {
    width: 100%;
    height: 10px;
    border-radius: 999px;
    overflow: hidden;
}

.progress-in {
    height: 100%;
    width: 0%;
    border-radius: 999px;
    transition: width 0.4s ease;
}

.meta {
    margin-top: 25px;
    font-weight: 500;
    font-size: .9rem;
    color: #666;
}

/* 목표 초과 시 색상 변경 */
.progress-in.over {
    background: #f25c5c;
}

/* 프로그래스바 각 색상 */
/* 아침 */
#progressOut-m {background-color: #FFF6D7;}
#progressIn-m {background-color: #F2B84B;}

/* 점심 */
#progressOut-l {background-color: #E8F3FF;}
#progressIn-l {background-color: #2E8CFF;}

/* 저녁 */
#progressOut-d {background-color: #FFE4D9;}
#progressIn-d {background-color: #F25C5C;}

/* 기타 */
#progressOut-o {background-color: #F7EEDF;}
#progressIn-o {background-color: #C58C5D;}

/* 식단 각각의 디자인 (아이콘, 진행바) */
/* 아침 */
.fa-mug-saucer {
    background-color: #FFF6D7;
    color: #F2B84B;
}
/* 점심 */
.fa-utensils {
    background-color: #E8F3FF;
    color: #2E8CFF;
}
/* 저녁 */
.fa-bowl-food {
    background-color: #FFE4D9;
    color: #F25C5C;
}
/* 기타 */
.fa-cookie-bite {
    background-color: #F7EEDF;
    color: #C58C5D;
}

/* 식단 로그인 안했을 때 */


/* 최근 올라온 매칭 */
.recent-matching-wrapper {
    width: 100%;
}

.matching {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}


.matching span {
    font-weight: 500;
    color: #111;
}

.all-page-btn {
    color: #111;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
}

.all-page-btn .fa-solid {
    margin-left: 3px;
    font-size: .8rem;
    color: #111;
}

.matching-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 매칭 카드 */
.matching-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #ddd;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.matching-card:hover {
    background-color: #f2f3f4;
}

.matching-user {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.user-profile img {
    object-fit: contain;
    width: 50px;
    border-radius: 50%;
}

.user-profile-info {
    width: 100%;
}

.user-profile-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info {
    font-size: 1rem;
    font-weight: 600;
}

.workout-category {
    padding: 1px 5px;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    color: #666;
    background-color: #d1d1d1;
    border-radius: 8px;
}

.matching-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.matching-title .card-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.matching-title .card-content {
    font-size: 1rem;
    font-weight: 500;
    color: #666;   
}

.matching-info {
    display: flex;
    align-items: center;
}

.matching-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.matching-icon i {
    margin-right: 5px;
    font-size: .9rem;
    color: #666;
}

.matching-icon span {
    font-size: .9rem;
    color: #666;
    font-weight: 500;    
}

/* 모집중 */
.user-profile-top .card-state-ing {
    background-color: #D6EBFF;
    color: var(--main-color);
    border-radius: 8px;
    padding: 5px 8px;
    font-size: .7rem;
    font-weight: 600;
}

/* 마감임박 */
.user-profile-top .card-state-imminent {
    background-color: #FFE4D9;
    color: #F25C5C;
    border-radius: 8px;
    padding: 5px 8px;
    font-size: .7rem;
    font-weight: 600;    
}

/* 마감 */
.user-profile-top .card-state-finish {
    background-color: #ddd;
    color: #666;
    border-radius: 8px;
    padding: 5px 8px;
    font-size: .7rem;
    font-weight: 600;
}


.matching-btn-wrapper .matching-btn {
    position: relative; 
    overflow: hidden;  
    z-index: 1;
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #0A84FF;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.matching-btn-wrapper .matching-btn::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #007bff; 
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    z-index: -1;
}

.matching-btn-wrapper .matching-btn:hover {
    color: #fff;
}

.matching-btn:hover::before {
    transform: scaleX(1); 
    transform-origin: left;
}

/* 성공후기 게시판 */
.goal-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.goal-left-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #ddd;
}

.goal-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.goal span {
    font-weight: 500;
    color: #111;
}

.goal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.goal-content a {
    text-decoration: none;
    color: #111;
}

.goal-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    padding: 1.5rem;
    border: 1px solid #f2f3f4;
    gap: 10px;
    transition: background-color 0.15s ease;
}

.goal-card:hover {
    background-color: #f2f3f4;
}

.goal-card-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.goal-profile-img img {
    width: 50px;
    border-radius: 8px;
}

.goal-profile-info {
    display: flex;
    flex-direction: column;
}

.goal-profile-info span:nth-child(1) {
    font-size: 1rem;
    font-weight: 600;
    color: #111;
}

.goal-profile-info span:nth-child(2) {
    font-size: .9rem;
    font-weight: 600;
    color: #666;
}

.goal-main {
    display: flex;
    flex-direction: column;
}

.goal-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal-icon {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.goal-icon i {
    font-size: 0.8rem;
    color: #666;
}

.goal-icon span {
    font-size: .8rem;
    font-weight: 500;
    color: #666;
}

.goal-middle {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 5px;
}

.goal-middle .goal-content {
    font-size: .9rem;
    font-weight: 500;
    color: #666;
}

.goal-middle .goal-comment {
    font-size: .9rem;
    font-weight: 500;
    color: #0A84FF;
}

/* 공지사항 */
.goal-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}

.post-left-notice {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #ddd;
}

.post-left-notice .goal-wrapper-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}



.goal-wrapper-title {
    font-size: 1rem;
    color: #111;
    font-weight: 600;
}

.notice-main a {
    text-decoration: none;
    color: #111;
}

.notice-main a:hover {
    color: #0A84FF;
}

.notice-card {
    background-color: #fff;
    margin-top: 10px;
    padding: .8rem;
    border: 1px solid #f2f3f4;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    gap: 14.5px;
    transition: all 0.15s ease;
}

.notice-card:hover {
    background-color: #f3f4f6;;
}

.notice-ahref {
    text-decoration: none;
    color: #111;
}

.notice-top {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

/* 공지 사항 카테고리가 nomral 일 때 */
.notice-top .notice-category-n {
    background-color: #FF3B30;
    padding: 4px 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
}

/* 공지사항 카테고리가 이벤트일때*/
.notice-top .notice-category-e {
    background-color: #E3F2FD;
    padding: 4px 10px;
    border-radius: 8px;
    color: #1E88E5;
    font-size: 0.7rem;
    font-weight: 600;
}

/* 공지사항 카테고리가 제휴 일때*/
.notice-top .notice-category-c {
    background-color: #D0F0C0;
    padding: 4px 10px;
    border-radius: 8px;
    color: #2E7D32;
    font-size: 0.7rem;
    font-weight: 600;
}

/* 공지사항 카테고리가 징계 일때*/
.notice-top .notice-category-d {
    background-color: #FFF3CD;
    padding: 4px 10px;
    border-radius: 8px;
    color: #C58B00;
    font-size: 0.7rem;
    font-weight: 600;
}

.notice-top .notice-writeDate {
    color: #111;
    font-size: .8rem;
    font-weight: 500;
}

.notice-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notice-icon  {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.notice-icon .fa-solid {
    margin-right: 5px;
    font-size: 0.8rem;
    color: #666;
}

.notice-icon span {
    font-size: .8rem;
    font-weight: 500;
    color: #666;
}

.notice-middle h4{
    padding-bottom: 5px;
}

.notice-middle .notice-comment {
    font-size: .8rem;
    font-weight: 500;
    color: #0A84FF;
}

.notice-middle span {
    font-size: .9rem;
    color: #666;
    font-weight: 500;
}

/* 자유 게시판 */
.post-right-free {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #ddd;
}

.post-right-free .post-wrapper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px ;
}

.post-wrapper-title {
    font-size: 1rem;
    font-weight: 600;
}

.post-content .post-ahref {
    text-decoration: none;
    color: #111;
}

.post-card {
    background-color: #fff;
    margin-top: 10px;
    padding: .8rem;
    border: 1px solid #f2f3f4;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    gap: 14.5px;
    transition: all 0.15s ease;
}

.post-card:hover {
    background-color: #f2f3f4;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-header-left .post-category {
    background-color: #e2e2e2;
    padding: 4px 10px;
    border-radius: 8px;
    color: #666;
    font-size: 0.7rem;
    font-weight: 600;
}

.post-header-left .post-nickName {
    font-size: .9rem;
    font-weight: 600;
}

.post-header-left .post-writeDate {
    font-size: .8rem;
    font-weight: 500;
}

.post-icon {
    display: flex;
    gap: 12px;
    align-items: center;
}

.post-icon .fa-solid {
    margin-right: 5px;
    font-size: 0.8rem;
    color: #666;
}

.post-icon span {
    font-size: .8rem;
    font-weight: 500;
    color: #666;
}

.post-middle .post-title {
    font-size: 1rem;
    font-weight: 500;
    color: #111;
}

.post-middle .post-comment {
    font-size: 0.8rem;
    color: #0A84FF;
    font-weight: 500;
}




@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        display: flex;
        padding: 5vw;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
        flex-direction: column;
        gap: 2em;
    }

    .diet-wrapper {
        display: flex;
        flex-direction: column;
    }

    .diet-lock-box { padding: 14px; }
    .diet-content {
        display: grid;
        grid-template-columns: repeat(2, 2fr); /* 2열, 각 2fr */
        gap: 20px;
    }

    .user-diet-record {
        padding: 10px;
    }

    .user-diet-record .title-info h3 {
        font-size: 1.1em;
    }

    .user-diet-record .cal-num {
        font-size: 1.5em;
    }
    .recent-matching-wrapper .matching-content {
        display: flex;
        flex-direction: row; 
        overflow-x: auto;   
        /* 모바일 스크롤바 숨기기 */
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
    
    .recent-matching-wrapper .matching-content::-webkit-scrollbar {
        display: none; 
    }

    .recent-matching-wrapper .matching-card {
        flex: 0 0 100%;  
    }

    .matching-info {
        display: flex;
        flex-direction: column;
    }

    
    .matching-btn-wrapper {
        width: 100%;
        margin-top: 20px;
    }

    .matching-btn-wrapper .matching-btn {
        width: 100%;
    }

    .matching-icon {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .goal-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .goal-content {
        overflow-y: auto;
        flex-direction: row;
        -ms-overflow-style: none; 
        scrollbar-width: none; 
        gap: 20px;
    }
    
    .goal-content::-webkit-scrollbar {
        display: none;
    }

    .goal-content a {
        flex: 0 0 100%;  /* 1개씩만 보이도록 */
        width: 100%;
    }

    .goal-card {
        padding: 15px;
    }
}