@charset "UTF-8";
:root{
    --card-bg:#fff;
    --accent:#f2b84b; /* 노란 포인트 */
    --muted:#e6e9ee;
    --danger:#f25c5c;
    --text:#222;
    --shadow: 0 6px 20px rgba(20,20,40,0.06);
    --radius:14px;
    font-family: "Segoe UI", Roboto, "Noto Sans KR", sans-serif;
}

.main {
	width: 80%;
    padding: 2vw 8vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    gap: 3em;
}

/* 광고 */
.ad-wrapper {
    width: 100%;
    height: 400px;
    background-color: #0a2fff;
    border-radius: 12px;
}

/* 식단, 환영 문구 */
/* 식단쪽 아이콘 공통 */
.diet-wrapper .fa-solid {
    width: 50px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.diet-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.diet-content {
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.diet-wrapper-title span{
    font-weight: 500;
    color: #111;
}

.diet-wrapper .user-diet-record {
    padding: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: box-shadow 0.15s ease;
}

.user-diet-record a {
    text-decoration: none;
    color: #111;
}

.user-diet-record:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 54px;
}

.user-diet-record .title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.title .title-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-info p {
    font-weight: 500;
    font-size: .9rem;
    color: #666;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.info .cal {
    font-weight: 500;
    font-size: .9rem;
    color: #666;
}

#progressWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#progressOut  {
    width: 100%;
    height: 10px;
    background: #e5e7eb;
    border-radius: 999px;
    overflow: hidden;
}

#progressIn {
    height: 100%;
    width: 0%;
    background: #f2b84b;
    border-radius: 999px;
    transition: width 0.4s ease;
}

.meta {
    margin-top: 25px;
    font-weight: 500;
    font-size: .9rem;
    color: #666;
}

/* 목표 초과 시 색상 변경 */
#progressIn.over {
    background: #f25c5c;
}

/* 식단 각각의 디자인 (아이콘, 진행바) */
/* 아침 */
.fa-mug-saucer {
    background-color: #FFF6D7;
    color: #F2B84B;
}
/* 점심 */
.fa-utensils {
    background-color: #E8F3FF;
    color: #2E8CFF;
}
/* 저녁 */
.fa-bowl-food {
    background-color: #FFE4D9;
    color: #F25C5C;
}
/* 기타 */
.fa-cookie-bite {
    background-color: #F7EEDF;
    color: #C58C5D;
}

/* 최근 올라온 매칭 */
.recent-matching-wrapper {
    width: 100%;
}

.matching {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}


.matching span {
    font-weight: 500;
    color: #111;
}

#matching-all-list-btn {
    color: #111;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
}

#matching-all-list-btn .fa-solid {
    margin-left: 3px;
    font-size: .8rem;
    color: #111;
}

.matching-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.matching-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.matching-user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.matching-user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.75rem;
    object-fit: cover;
}       

.user-profile-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nick-name {
    font-size: 1rem;
    font-weight: 600;
}

.workout-category {
    width: 43px;
    height: 20px;
    text-align: center;
    font-size: .8rem;
    font-weight: 600;
    color: #666;
    background-color: #d1d1d1;
    border-radius: 8px;
    align-self: flex-start;
}

.matching-title {
    margin-bottom: 1.25rem;
}

.matching-title h3 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #111;   
}      

.matching-info {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2열 그리드 */
    gap: 0.75rem; /* 항목 간 간격 */
    font-size: .9rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.matching-info span {
    font-weight: 500;
    font-size: 0.9rem;
    color: #666;
}

.matching-info .fa-solid {
    margin-right: 4px;
    color:#666;
    font-size: 1rem;
}

.matching-btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matching-btn-wrapper #matching-btn {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #0A84FF;
    cursor: pointer;
    transition: background-color 0.25s ease;
}

.matching-btn-wrapper #matching-btn:hover {
    background-color: #0056b3;
}

/* 성공후기 게시판 */
.goal-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.goal-left-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    flex: 1;
}

.goal-top {
    display: flex;
    justify-content: space-between;
}

.goal span {
    font-weight: 500;
    color: #111;
}

.goal-all #goal-all-list-btn {
    color: #111;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 500;
}

#goal-all-list-btn .fa-solid {
    margin-left: 3px;
    font-size: .8rem;
    color: #111;
}

.goal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.goal-content a {
    text-decoration: none;
    color: #111;
}

.goal-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    padding: 1.5rem;
    border: 1px solid #f2f3f4;
    gap: 10px;
}

.goal-top {
    display: flex;
    flex-direction: row;
}

.goal-top .goal-profile-img img {
    width: 50px;
    border-radius: 8px;
}

/* 공지사항 */
.goal-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;
}

.post-left-notice {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
}

.post-left-notice .goal-wrapper-title {
   border-bottom: 1px solid #d5d5d5;
   padding-bottom: 15px;
}

.notice-main a {
    text-decoration: none;
    color: #111;
}

.notice-main a:hover {
    color: #0A84FF;
}

.notice-card {
    background-color: #fff;
    margin-top: 10px;
    padding: .8rem;
    border: 1px solid #f2f3f4;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    gap: 10px;
    transition: all 0.15s ease;
}

.notice-card:hover {
    background-color: #f3f4f6;;
}

.notice-ahref {
    text-decoration: none;
    color: #111;
}

.notice-top {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

/* 공지 사항 카테고리가 nomral 일 때 */
.notice-top .notice-category-n {
    background-color: #FF3B30;
    padding: 4px 10px;
    border-radius: 8px;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 600;
}

/* 공지사항 카테고리가 이벤트일때*/
.notice-top .notice-category-e {
    background-color: #E3F2FD;
    padding: 4px 10px;
    border-radius: 8px;
    color: #1E88E5;
    font-size: 0.7rem;
    font-weight: 600;
}

/* 공지사항 카테고리가 제휴 일때*/
.notice-top .notice-category-c {
    background-color: #D0F0C0;
    padding: 4px 10px;
    border-radius: 8px;
    color: #2E7D32;
    font-size: 0.7rem;
    font-weight: 600;
}

/* 공지사항 카테고리가 징계 일때*/
.notice-top .notice-category-d {
    background-color: #FFF3CD;
    padding: 4px 10px;
    border-radius: 8px;
    color: #C58B00;
    font-size: 0.7rem;
    font-weight: 600;
}

.notice-top .notice-writeDate {
    color: #111;
    font-size: .8rem;
    font-weight: 500;
}

.notice-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notice-icon  {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.notice-icon .fa-solid {
    margin-right: 5px;
    font-size: 0.8rem;
    color: #666;
}

.notice-icon span {
    font-size: .8rem;
    font-weight: 500;
    color: #666;
}

.notice-middle h4{
    padding-bottom: 5px;
}

.notice-middle .notice-comment {
    font-size: .8rem;
    font-weight: 500;
    color: #0A84FF;
}

.notice-middle span {
    font-size: .9rem;
    color: #666;
    font-weight: 500;
}

/* 자유 게시판 */
.post-right-free {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
}

.post-right-free .post-wrapper-title {
    padding-bottom: 15px ;
    border-bottom: 1px solid #d5d5d5;
}

.post-content .post-ahref {
    text-decoration: none;
    color: #111;
}

.post-card {
    background-color: #fff;
    margin-top: 10px;
    padding: .8rem;
    border: 1px solid #f2f3f4;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    gap: 10px;
    transition: all 0.15s ease;
}

.post-card:hover {
    background-color: #f2f3f4;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-header-left {
    display: flex;
    gap: 10px;
    align-items: center;
}

.post-header-left .post-category {
    background-color: #e2e2e2;
    padding: 4px 10px;
    border-radius: 8px;
    color: #666;
    font-size: 0.7rem;
    font-weight: 600;
}

.post-header-left .post-nickName {
    font-size: .9rem;
    font-weight: 600;
}

.post-header-left .post-writeDate {
    font-size: .8rem;
    font-weight: 500;
}

.post-icon {
    display: flex;
    gap: 12px;
    align-items: center;
}

.post-icon .fa-solid {
    margin-right: 5px;
    font-size: 0.8rem;
    color: #666;
}

.post-icon span {
    font-size: .8rem;
    font-weight: 500;
    color: #666;
}

.post-middle .post-title {
    font-size: 1rem;
    font-weight: 600;
}

.post-middle .post-comment {
    font-size: 0.8rem;
    color: #0A84FF;
    font-weight: 500;
}




@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        display: flex;
        padding: 5vw;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
        flex-direction: column;
        gap: 2em;
    }

    .diet-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2열로 고정 */
        gap: 15px;
        padding: 10px;
    }

    .user-diet-record {
        padding: 10px;
    }

    .user-diet-record .title-info h3 {
        font-size: 1.1em;
    }

    .user-diet-record .cal-num {
        font-size: 1.5em;
    }
    .recent-matching-wrapper .matching-content {
        display: flex;
        flex-direction: row; 
        overflow-x: auto;   
        /* 모바일 스크롤바 숨기기 */
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
    
    .recent-matching-wrapper .matching-content::-webkit-scrollbar {
        display: none; 
    }

    .recent-matching-wrapper .matching-card {
        flex: 0 0 auto; 
        width: 280px;   
        padding-bottom: 10px;
    }

    .goal-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    .goal-content {
        overflow-y: auto;
        flex-direction: row;
        -ms-overflow-style: none; 
        scrollbar-width: none; 
        padding: 0px 10px 10px 10px;
        gap: 20px;
    }
    
    .goal-content::-webkit-scrollbar {
        display: none;
    }

    .goal-content a {
        flex: 0 0 auto;
        width: 280px;    
        margin-top: 0;
    }

    .goal-card {
        padding: 15px;
    }

    .goal-setting {
        gap: 15px;
    }
}